In [ ]:
# this is a comment
if True:
  print("Hello World!")

Hello World!

In [ ]:
name = "Abdullah"
age = 22
pi = 3.14
print("My name is",name,"and my age is",age)
print("The value of Pi is",pi)

My name is Abdullah and my age is 22
The value of Pi is 3.14

In [ ]:
userName = input("Please enter your name: ")
userAge = int(input("Please enter your age: "))
print("Hello",userName)
print("Your age is",userAge)

Please enter your name: Abdullah
Please enter your age: 22
Hello Abdullah
Your age is 22

In [ ]:
x,y = 10,0.0012
z = 2 + 3j
print(z)
print(z.real)
print(z.imag)

(2+3j)
2.0
3.0

In [ ]:
text = "Hello World!"
repeat = "Python" * 10
print(repeat)
replace = text.replace("Hello","Hi")
print(replace)
print(text[0])
print(text[0:5])
print(text[6:])

PythonPythonPythonPythonPythonPythonPythonPythonPythonPython
Hi World!
H
Hello
World!

In [ ]:
lst = [1,2,3,4,5]
print("This is a list:",lst)
lst.append(7)
print(lst)
print(lst[:4])

This is a list: [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4]

In [ ]:
tup = (1,2,3,4,5)
print(tup)
print("Last Element of the tuple is",tup[-1])

(1, 2, 3, 4, 5)
Last Element of the tuple is 5

In [ ]:
sets = {1,2,3,4,5}
print("This is a Set:",sets)
sets.add(1)
print(sets)
sets.add(6)
print(sets)

This is a Set: {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [ ]:
dictionary = {"name":"Abdullah","age":22}
print(dictionary)
print(dictionary["name"])
print(dictionary["age"])
dictionary["name"] = "Syed Muhammad Abdullah"
print(dictionary)
dictionary["Grade"] = "A"
print(dictionary)

{'name': 'Abdullah', 'age': 22}
Abdullah
22
{'name': 'Syed Muhammad Abdullah', 'age': 22}
{'name': 'Syed Muhammad Abdullah', 'age': 22, 'Grade': 'A'}

In [ ]:
num1,num2 = 10,20.5
print(num1+num2)
num = str(5)
print(num)
print(type(num))
print(f"The number num = {num} is now of type string")

30.5
5
<class 'str'>
The number num = 5 is now of type string

In [ ]:
print("Floor Division:",10//3)
print("Modulus:",5%2)
print("Exponent:",2**3)

Floor Division: 3
Modulus: 1
Exponent: 8

In [ ]:
a = 7 # Binary: 111
b = 2 # Binary: 010
print("a & b:",a & b)
print("a | b:",a | b)
print("a ^ b:",a ^ b)
print("~a:",~a)
print("a << 1:",a << 1)
print("a >> 1:",a >> 1)

a & b: 2
a | b: 7
a ^ b: 5
~a: -8
a << 1: 14
a >> 1: 3

In [ ]:
print("Length of the list is:",len(lst))
word = "BuiLdINg"
print("Lowercase:",word.lower())
print("Uppercase:",word.upper())
print("Capitalized:",word.capitalize())

Length of the list is: 6
Lowercase: building
Uppercase: BUILDING
Capitalized: Building

In [ ]:
string = "My name is Abdullah"
print(string)
print(string.split())
csv = "Name,Age,Country"
print(csv)
print(csv.split(","))

My name is Abdullah
['My', 'name', 'is', 'Abdullah']
Name,Age,Country
['Name', 'Age', 'Country']

In [ ]:
import random

Colors = ['Red','Blue','Green']
print(random.randint(1,100))
print(random.random())
print(random.choice(Colors))

35
0.33035212949608217
Green