In [1]:
age = 16
if age < 18:
  print("You are not eligible to vote")

You are not eligible to vote

In [2]:
num = 7
if num % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

The number is odd

In [3]:
marks = 87
if marks >= 90:
  print("Grade A")
elif marks >= 85:
  print("Grade A-")
elif marks >= 80:
  print("Grade B+")
elif marks >= 75:
  print("Grade B")
elif marks >= 70:
  print("Grade B-")
elif marks >= 55 :
  print("Grade C+")
else:
  print("Grade F")

Grade A-

In [4]:
num = 9
if num >=5:
  if num % 2 == 0:
    print("The number is even and greater than 5")
  else:
    print("The number is odd and greater than 5")
else:
  print("The number is less than 5")

The number is odd and greater than 5

In [5]:
is_adult = True
has_voter_id = False
if is_adult and has_voter_id:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

You are not eligible to vote

In [6]:
age = 18
message = "Adult" if age >= 18 else "Minor"
print(message)

Adult

In [7]:
# Match case
color = 'red'
match color:
  case 'red':
    print("The color is red")
  case 'blue':
    print("The color is blue")
  case 'green':
    print("The color is green")
  case _:
    print("The color is unknown")

The color is red

In [8]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [9]:
string = "Hello"
for char in string:
  print(char)

H
e
l
l
o

In [10]:
diction = {'a': 1, 'b': 2, 'c': 3}
for key, value in diction.items():
  print(f"{key}: {value}")
for key in diction:
  print(key)
for value in diction.values():
  print(value)

a: 1
b: 2
c: 3
a
b
c
1
2
3

In [11]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [13]:
count = 1
while count <= 5:
  print(count)
  count += 1

1
2
3
4
5

In [14]:
while True:
  user_input = input("Enter quit to exit from the loop: ")
  if user_input == "quit":
    print("Exiting loop...")
    break

Enter quit to exit from the loop: quit
Exiting loop...

In [15]:
for j in range(5):
  if j == 3:
    break
  print(j)

0
1
2

In [16]:
for k in range(10):
  if k % 2 != 0:
    continue
  print(k)

0
2
4
6
8

In [17]:
for x in range(6):
  print(x)
  if x==4:
    pass
    print("Processing 4...")

0
1
2
3
4
Processing 4...
5

In [18]:
for y in range(2):
  for z in range(3):
    print(y,z)

0 0
0 1
0 2
1 0
1 1
1 2

In [19]:
for a in range(1,4):
  for b in range(1,4):
    print(f"{a} x {b} = {a*b}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [20]:
for num in range(1,4):
  print(num)
else:
  print("Loop completed")

1
2
3
Loop completed

In [21]:
nums = [1,2,3,4,5]
search = 7
for num in nums:
  if num == search:
    print("Number found")
    break
else:
  print("Number not found")

Number not found

In [22]:
def greet():
  print("Hello")

greet()

def greet_user(name):
  print(f"Hello, {name}!")

greet_user("Alice")

Hello
Hello, Alice!

In [23]:
for num in range(5):
  greet()

Hello
Hello
Hello
Hello
Hello

In [24]:
def add(a,b):
  return a + b

result = add(3,4)
print(result)

7

In [25]:
def cube(num):
  return num ** 3

result = cube(3)
print(result)

27

In [26]:
def addSubtract(a,b):
  return a + b, a - b

add, subtract = addSubtract(10,5)
print(add)
print(subtract)

def abc():
  pass

print(abc())

15
5
None

In [27]:
def print_args(*args):
  for arg in args:
    print(arg)

print_args(1,2,3,4,5)

1
2
3
4
5

In [28]:
def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_kwargs(a=1, b=2, c=3)

a: 1
b: 2
c: 3

In [29]:
cube = lambda x: x ** 3
print(cube(5))

125